#client {
    .client-cards {
        .client-card:hover {
            box-shadow: 0px 0px 30px 0px rgba(126, 30, 252, 0.415);
            img {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                box-shadow: 0px 0px 30px 0px rgba(126, 30, 252, 0.415);
                cursor: pointer;
            }
            .comment {
                h5 {
                    color: rgba(126, 30, 252, 0.415);
                    transform: scale(1.5);
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    -o-transform: scale(1.5);
                    cursor: pointer;
                }
            }
        }
    }
}
#eva {
    .eva-card:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        box-shadow: 0px 0px 40px 0px rgba(184, 0, 95, 0.828);
        .eva-card-desc {
            h3 {
                color: rgba(184, 0, 95, 0.828);
            }
        }
        img {
            opacity: 0.6;
        }
    }
}
#order {
    .order-desc {
        button:hover {
            background: linear-gradient(95deg, #2e3192 2.23%, #b90160 99.51%);
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }
}
.bottom-header {
    ul {
        li:hover {
            border: 1px solid rgba(212, 20, 90, 0.7);
            padding: 0 5px;
        }
    }
}
.top-header {
    i:hover {
        color: rgba(46, 49, 146, 0.7);
    }
}
